.controls {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
}

.controls input,
.controls select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.controls button {
  padding: 10px 20px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.details-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #10b981;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  border-radius: 15px;
  text-align: center;
}

.modal img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.dark {
  background: #111827;
  color: white;
  min-height: 100vh;
}

.dark .card {
  background: #1f2937;
  color: white;
}

.dark .modal {
  background: #1f2937;
  color: white;
}